<main>
  <div class="page_title">
    <h1>Current List: {{selectedList.title}}</h1>
  </div>
  <div class="user_input">
    <div class="user_input_section">
      <label for="add"> Add ToDo Item </label>
      <button class="icon_button" id="add" (click)="addButtonClicked()">
        @if (documentDarkThemePresent) {
          <img src="../../assets/Images/icon_add_white.png" alt="Add" />
        }
        @else {
          <img src="../../assets/Images/icon_add.png" alt="Add" />
        }
      </button>
    </div>

    <div class="user_input_section">
      <label for="search">Search:</label>
      <input id="search" type="text" [(ngModel)]="searchInput" (ngModelChange)="searchFilterItems()" placeholder="Search"/>
    </div>
  </div>

  <div class="listings">
    @for(item of filteredToDoItems; track item.id){
      <div class="listings_frame">
        <div class="listings_row">
          <div class="listings_side">
            <span>{{ item.title }}</span>
            <button class="icon_button" (click)="editButtonClicked(item)">
              <img src="../../../assets/Images/icon_edit.png" alt="Edit"/>
            </button>
            <button class="icon_button" (click)="deleteButtonClicked(item.id)">
              <img src="../../../assets/Images/icon_bin.png" alt="Delete"/>
            </button>
          </div>
          <div class="listings_side">
            <label for="item_done" >Done:</label>
            <button class="icon_button" id="item_done" (click)="markItemDone(item)">
              @if (documentDarkThemePresent) {
                <img [src]="item.done ?
                  '../../../assets/Images/icon_done_white.png' :
                  '../../../assets/Images/icon_transparent.png'"
                  alt="Done"
                  class="mark_done_frame" />
              }
              @else {
                <img [src]="item.done ?
                  '../../../assets/Images/icon_done.png' :
                  '../../../assets/Images/icon_transparent.png'"
                  alt="Done"
                  class="mark_done_frame"/>
              }
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</main>
