<head>
  <title>Devices</title>
</head>

<main>
  <div class="page_title">
    <h1>Devices</h1>
  </div>

  <div class="user_input">
    <div class="user_input_section">
      <div class="drop_down">
        <mat-select [(value)]="selectedDeviceType" placeholder="Select device type">
          @for (type of DeviceType | keyvalue; track DeviceType) {
            <mat-option [value]="type.key">
              {{ type.key }}
            </mat-option>
          }
        </mat-select>
      </div>
      <button class="icon_button" (click)="addButtonClicked()">
        @if (documentDarkThemePresent) {
          <img src="../../assets/Images/icon_add_white.png" alt="Add" />
        }
        @else {
          <img src="../../assets/Images/icon_add.png" alt="Add" />
        }
      </button>
    </div>
  </div>

  <div class="listings">
    @for (device of deviceCollection; track device.id) {
      <div class="listings_frame" (click)="navigateButtonClicked(device)">
        <div class="listings_row">
          <div class="listings_side">
            <span>{{ device.name }} : {{ device.comPort }}</span>
            <button class="icon_button" (click)="editButtonClicked(device);  $event.stopPropagation()">
              <img src="../../assets/Images/icon_edit.png" alt="Delete">
            </button>
          </div>
          <div class="listings_side">
            <button class="icon_button" (click)="deleteButtonClicked(device);  $event.stopPropagation()">
              <img src="../../assets/Images/icon_bin.png" alt="Delete">
            </button>
          </div>
        </div>
      </div>
    }
  </div>
</main>
