<body>
  <div class="page_title user_input">
    <h1>
      To Do:
      <input class="item_title" type="text" [(ngModel)]="selectedItem.title" placeholder="ToDoItem Title"/>
    </h1>
  </div>

  <div class="note">
    <label for="note">Note:</label>
    <br />
    <input type="text" id="note" [(ngModel)]="selectedItem.note" placeholder="ToDoItem Note"/>
  </div>

  <div class="button">
    @if(isSaveButtonEnabled) {
    <button (click)="applyInputs('save')">Save</button>
    }
    @if(isUpdateButtonEnabled){
    <button (click)="applyInputs('update')">Update</button>
    }
    @if(isDeleteButtonEnabled){
    <button (click)="applyInputs('delete')" style="color:red;">Delete</button>
    }
  </div>
</body>
