<head>
  <title>FeatherDevice</title>
</head>

<main>
  <div class="page_title">
    <h1>FeatherDevice</h1>
  </div>

  <div class="two_columns">
    <div class="two_columns_entry">
      <label for="useTemperatureDataInput">Use Temperature Data: </label>
      <input class="checkboxInput" id="useTemperatureDataInput" type="checkbox" [(ngModel)]="isTempDataSelected"
             [disabled]="isDeviceConnected"/>
    </div>
    <div class="two_columns_entry">
      <label for="useDistanceDataInput">Use Distance Data: </label>
      <input class="checkboxInput" id="useDistanceDataInput" type="checkbox" [(ngModel)]="isDistanceDataSelected"
             [disabled]="isDeviceConnected"/>
    </div>
    <div class="two_columns_entry">
      <label for="useLightDataInput">Use Light Data: </label>
      <input class="checkboxInput" id="useLightDataInput" type="checkbox" [(ngModel)]="isLumenDataSelected"
             [disabled]="isDeviceConnected"/>
    </div>
  </div>

  <div class="connectionStateDisplay">
    <p>Connection State: </p>
    <p class="connectionStateLabel">{{ isDeviceConnected ? 'Connected' : 'Disconnected' }}</p>
    <div
      class="connectionStateMarker"
      [ngClass]="{
         'connectionStateMarkerConnected': isDeviceConnected,
         'connectionStateMarkerDisconnected': !isDeviceConnected
         }">
    </div>
  </div>

  <div class="two_columns">
    <button class="controlButton" [disabled]="isDeviceConnected" (click)="connectButtonClicked()">Connect</button>
    <button class="controlButton" [disabled]="!isDeviceConnected" (click)="disconnectButtonClicked()">Disconnect
    </button>
    <button class="controlButton" [disabled]="!isDeviceConnected" (click)="startButtonClicked()">Start</button>
    <button class="controlButton" [disabled]="!isDeviceConnected" (click)="stopButtonClicked()">Stop</button>
    <button class="controlButton" [disabled]="!isDeviceConnected" (click)="pauseButtonClicked()">Pause</button>
    <button class="controlButton" [disabled]="!isDeviceConnected" (click)="continueButtonClicked()">Continue</button>
  </div>

  <div class="two_columns">
    <div class="two_columns_entry">
      <label>Temperature (in C°):</label>
      <p>{{ temperatureValue }}</p>
    </div>
    <div class="two_columns_entry">
      <label>Distance (in mm):</label>
      <p>{{ distanceValue }}</p>
    </div>
    <div class="two_columns_entry">
      <label>Light (in Lumen):</label>
      <p>{{ lumenValue }}</p>
    </div>
  </div>
</main>
